version: '3'

services:
  backend:
    image: cantona084/imc-ms:1.0.49
    container_name: backend
    environment:
    -  SPRING_DATA_MONGODB_URI=mongodb://devops:ansible@192.168.10.13:27017/imcdb
    ports:
      - "8080:8080"
    networks:
      - myapp-network
    restart: always

networks:
  myapp-network:
    external: true
