version: "3"
services:
  backend:
    image: {{ backend_image }}
    container_name: {{ backend_container_name }}
    ports:
      - "{{ backend_external_port }}:{{ backend_internal_port }}"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://{{ mongo_root_username }}:{{ mongo_root_password }}@{{ mongodb_host }}:{{ mongodb_port }}/{{ mongodb_db }}
    networks:
      - myapp-network

networks:
  myapp-network:
    external: true
