[defaults]
inventory = /etc/ansible/inventory.yml
remote_user = vagrant
private_key_file = /opt/tools/ssh-keys/id_ed25519

[privilege_escalation]
become = true
become_method = sudo
# become_user = root   ← optional, root ist Standard

[ssh_connection]
timeout = 60
