version: '3'
services:
  frontend:
    image: {{ frontend_image }}
    ports:
      - "{{ frontend_port }}:80"
    environment:
      - REACT_APP_API_URL={{ api_url }}
    restart: always
    networks:
      - myapp-network

networks:
    myapp-network:
      external: true

    
  